@font-face {
    font-family: "Loquendo";
    src: url("../fonts/GRIFTER™+Bold.otf");
}

.message-window {
    height: calc(100% - 60px);
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #352d3d;
}

.input-box {
    display: flex;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-radius: 0px;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #1c1e22;
    overflow: auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px;
}

.chatBox {
    width: 300px;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px #1f1b22;
}

.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #2f323b;
    overflow: auto;
}

.chat-input {
    height: 30px;
    display: flex;
    flex: 0 0 auto;
    height: 60px;
    background: #1f1b22;
}

.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #1f1b22;
}

.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: #1f1b22;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
}

.chat-input input[good]+button {
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    background: #2671ff;
}

.chat-input input[good]+button:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-input input[good]+button path {
    fill: white;
}

.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.msg-box {
    display: flex;
    background: #7A6D7F;
    padding: 5px 5px 5px 5px;
    border-radius: 6px 6px 6px 6px;
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 80%;
    width: auto;
    float: left;
    word-wrap: break-word;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}

.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.messages {
    margin-left: 20px;
    min-width: 200px;
}

.msg {
    font-size: 11pt;
    line-height: 13pt;
    color: white;
    margin: 0 0 4px 0;
}

.msg:first-of-type {
    margin-top: 8px;
}

.timestamp {
    color: #29232e;
    font-size: 10pt;
    align-items: center;
    font-family: "xxii_avenmedium";
}

.username {
    float: left;
    color: #29232e;
    font-weight: bold;
}

.posttime {
    float: right;
    font-weight: bold;
}

.msg-self .msg-box {
    border-radius: 6px 6px 6px 6px;
    background: #6e2c8c;
    float: right;
}

.msg-self .user-img {
    align-items: center;
}

.msg-self .msg {
    text-align: justify;
    text-justify: inter-word;
}

.mmg {
    display: flex;
    margin-left: 20px;
}

.icon-container {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.status-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-left: -20px;
    margin-top: 10px;
}

select {
    font-size: 100%;
    padding: 10px;
    padding-right: 40px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='34' viewBox='0 0 24 24' width='32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 5px;
}

#AdvancedMenuTwitch {
    border: 1px white solid;
    margin-top: 10px;
    width: 300px;
    border-radius: 5px;
}

#legendStyle {
    margin-left: 1em;
    padding: 0.2em 0.8em;
}

#AdvancedMenuRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

#AdvancedMenuLabel {
    width: 120px;
}

#SaveAdvancedSettingsButton {
    margin-left: 10px;
}

#xxx {
    font-weight: bold;
    font-size: 14px;
    display: block;
    float: left;
    font-size: 20px;
    width: 50px;
    align-self: baseline;
}


/* toggle in label designing */

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 40px;
    background-color: #211E1E;
    border-radius: 20px;
}


/* After slide changes */

.toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    left: 5px;
    top: 5px;
    transition: all 0.2s;
}


/* Checkbox checked effect */

.checkbox:checked+.toggle::after {
    left: 25px;
}


/* Checkbox checked toggle label bg color */

.checkbox:checked+.toggle {
    background-color: #6e2c8c;
}


/* Checkbox vanished */

.checkbox {
    display: none;
}