!node_modules/
node_modules/*
Pipfile.lock
package-lock.json
!node_modules/say/idez.d.ts
!node_modules/say/platform/win32.js
!node_modules/say/examples/win32-Chinese.js
!node_modules/say/package.json
!node_modules/say/platform/base.js