[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
twitchio = "*"
autopep8 = "*"
requests = "*"
irc = "*"
py-linq = "*"
six = "*"
configparser = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
